.tab-background {
  border: none !important;
  box-shadow: none !important;
  border-radius: 6px !important;
  #tabbrowser-tabs[movingtab-createGroup] & {
    outline: none !important;
    &[dragover-createGroup] {
      background-color: color-mix(in srgb, var(--dragover-tab-group-color) 38%, transparent) !important;
    }
  }
  #tabbrowser-tabs[movingtab-group] & {
    &[dragover-groupTarget] {
      background-color: color-mix(in srgb, var(--dragover-tab-group-color) 38%, transparent) !important;
      outline: none !important;
    }
    &:is([selected], [multiselected]) {
      outline: none !important;
    }
  }
}

tab > stack {
  margin: 0 1px !important;
}

tab .tab-label {
  font-size: 13px !important;
  margin-bottom: 1px !important;
}

#tabbrowser-tabs[orient="horizontal"]:not([overflow]) {
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
}

#tabbrowser-tabs[orient="horizontal"][overflow] {
  padding-inline-start: calc(var(--tab-overflow-pinned-tabs-width) - 2px) !important;
  margin-inline-start: 0 !important;
}

#tabbrowser-tabs[orient="horizontal"][overflow]:has([pinned]) {
  padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
}

#tabbrowser-tabs {
  --tab-min-width: 88px !important;
  margin-bottom: -1px !important;
  border-inline-start: none !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])[orient="horizontal"] > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0 !important;
}

#pinned-tabs-container[orient="horizontal"] {
  margin-inline-end: 0 !important;
}

#tabbrowser-tabs[orient="vertical"] {
  grid-gap: unset !important;
}

#tabbrowser-tabs[movingtab] {
  margin-bottom: -16px !important;
}

.tabbrowser-tab:not([selected]) .tab-close-button {
  display: none;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: flex !important;
}

.tab-background:not([selected]) {
  background: var(--button-hover-bgcolor) !important;
  transition: background .5s !important;
}

.tab-background[selected] {
  background: light-dark(rgba(70, 70, 70, .18), rgba(170, 170, 170, .4)) !important;
}

.tabbrowser-tab:hover .tab-background {
  background: var(--button-active-bgcolor) !important;
  transition: background .5s !important;
}

.tab-icon-overlay {
  scale: .7;
  &:hover { scale: .8; }
  &:is([soundplaying], [muted], [activemedia-blocked]) {
    background-color: transparent !important;
    border: none !important;
    &:not([pinned]) {
      background-size: 16px !important;
    }
    &:hover {
      background-color: var(--button-hover-bgcolor) !important;
    }
    &:active {
      background-color: var(--button-active-bgcolor) !important;
    }
  }
  :is(
  :root[uidensity=compact],
  #tabbrowser-tabs[secondarytext-unsupported],
  :root:not([uidensity=compact]) #tabbrowser-tabs:not([secondarytext-unsupported]) .tabbrowser-tab:hover
  ) .tab-icon-stack[indicator-replaces-favicon] > :not(&),
  :root:not([uidensity=compact]) #tabbrowser-tabs:not([secondarytext-unsupported]) .tabbrowser-tab:not(:hover) &[indicator-replaces-favicon] {
    opacity: 1 !important;
  }
}

.tab-secondary-label {
  display: none !important;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  min-height: 18px !important;
  max-width: 2px !important;
  margin: 6px 0 0 0 !important;
  border-radius: 2px !important;
}

#tab-preview-panel {
  --panel-padding: 0 !important;
}

.tab-group-overflow-count-container {
  display: none !important;
}

.tab-group-label-container {
  #tabbrowser-tabs:is([orient="horizontal"], [orient="vertical"]:not([expanded])) tab-group:not([collapsed]) > &::after,
  #tabbrowser-tabs:is([orient="horizontal"], [orient="vertical"]:not([expanded])) tab-group[hasactivetab] > &::after,
  #tabbrowser-tabs[orient="vertical"] tab-group[hasactivetab][hasmultipletabs] > &.tab-group-overflow-count-container::after {
    content: none !important;
  }
}

.tab-group-label-container {
  &[dragtarget] {
    position: unset !important;
  }

  #tabbrowser-tabs[orient="vertical"] & {
    margin-block-start: 5px !important;

    tab-group:not([collapsed]) > &,
    tab-group[collapsed][hasactivetab] > & {
      padding-block-end: 0 !important;
    }
  }
}

.tab-group-label-hover-highlight {
  tab-group[collapsed] & {
    #tabbrowser-tabs[orient="vertical"][expanded] & {
      margin-inline-end: 0 !important;
    }
  }

  #tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
    margin-inline: 0 !important;
  }

  tab-group[collapsed]:not([movingtabgroup]) &:hover,
  tab-group[previewpanelactive] & {
    background-color: transparent !important;

    #tabbrowser-tabs[orient="horizontal"] & {
      box-shadow: none !important;
    }

    #tabbrowser-tabs[orient="vertical"] & {
      box-shadow: none !important;
    }

    #tabbrowser-tabs[orient="vertical"][expanded] & {
      box-shadow: none !important;
    }
  }
}

@media not -moz-pref("sidebar.verticalTabs") {
  .tabbrowser-tab[selected]:not([pinned]) {
    min-width: 138px !important;
  }

  .tab-icon-image:not([src], [pinned], [crashed], [sharing], [pictureinpicture], [busy]) {
    display: block !important;
  }

  .tab-content[pinned] .tab-label-container {
    margin: 0 !important;
  }

  .tab-background {
    max-height: 30px !important;
    min-height: 30px !important;
  }

  #TabsToolbar #tabs-newtab-button > .toolbarbutton-icon,
  #TabsToolbar #new-tab-button > .toolbarbutton-icon {
    height: 32px !important;
    width: 32px !important;
    padding: 5px 7px !important;
    border-radius: 6px !important;
    background: none !important;
  }

  #TabsToolbar #new-tab-button,
  #TabsToolbar #tabs-newtab-button {
    width: 30px;
    margin: 4px 3px -3px 3px !important;
    max-height: 30px !important;
    min-height: 30px !important;
    border-radius: 6px !important;
  }

  #TabsToolbar #new-tab-button:hover,
  #TabsToolbar #tabs-newtab-button:hover {
    background: var(--button-hover-bgcolor) !important;
  }

  #TabsToolbar #new-tab-button:active,
  #TabsToolbar #tabs-newtab-button:active {
    background: var(--button-active-bgcolor) !important;
  }

  .tab-group-label {
    color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
    opacity: .9;
    outline: none !important;
    min-width: 5px !important;
    font-weight: normal !important;
    background-color: color-mix(in srgb, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 30%, transparent) !important;
  }

  .tab-group-label-container {
    tab-group:not([collapsed]) > &::after {
      background-color: transparent !important;
    }
  }

  .tab-group-line {
    margin: 5px !important;
    border-radius: 50px !important;
    width: 5px !important;
    height: 5px !important;
    background-color: color-mix(in srgb, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 60%, transparent) !important;
  }
}

.tabbrowser-tab:active,
#tabs-newtab-button:active,
#vertical-tabs-newtab-button:active,
.tools-and-extensions > moz-button:active {
  transform: scale(.98);
}

:has(.tab-icon-overlay:active, .tab-audio-button:active, .tab-close-button:active) {
  .tabbrowser-tab {
    transform: none;
  }
}
